  body{
    font-family:"Arial","Meiryo",sans-serif;
    text-align: center;
   }
  .decoration{
    font-size: 20px;
  }
  .skyblue{
    color: skyblue;
  }
  .pink{
    color: rgb(255,192,203);
  }
  #basic >p {
font-weight: bold;
}
.text-shadow{
  text-shadow: 1px 1px 2px rgb(115, 115, 114);
}
:root{
  font-size: 20px;
  /* ルート要素のフォントサイズを20pxに設定 */
}
h1{letter-spacing: 1.2em;
  font-size: 2rem;
  /* ルート要素の2倍のサイズに設定 */
  font-family: "Josefin Sans",sans-serif;
  border-bottom: 3px solid rgb(115, 115, 114);
}
.p {

}